<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="width: 100%">
        <tr>
            {% for header in headings %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>
        
        {% for row in rows %}
        <tr>
            {% for cell in row %} 
                <td>{{row[cell]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>        
    <form method="post" action="/button">
        <input type="submit" value="Previos Page" name="action1"/>
        <input type="submit" value="Next Page" name="action2"/>
    </form> 
</body>
</html>